@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Raleway;
  height: 100vh;
  margin:0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new-quote {
  float:right;
}
